h1 {
    color: #ffffff;
    text-align: left;
    position: relative;
    font-size: 54px;
    font-weight: lighter;
    margin: 485px 0 20px 0;
}
h3 {
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
}
h2 {
    color: #222626;
    text-align: left;
    position: relative;
    font-size: 35px;
    font-weight: lighter;
    margin: 114px 0 40px 0;
}
p {
    color: #959595;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
}
a {
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    color: #222626;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.container {
    width: 1230px;
}
@media (min-width: 1200px) {
    .container {
        width: 1230px;
    }
}
/*Header*/
header {
    background: url(imgs/Img_master1.png) no-repeat;
    background-size: cover;
    height: 951px;
}
.logo {
    position: absolute;
    margin-top: 54px;
    float: left;
}
.phone {
    position: absolute;
    margin-top: 260px;
    animation-duration: 3s;
    animation-name: slidein;
    overflow: hidden;
}
@keyframes slidein {
from {
    left: 800px;
}

to {
    left: 0px;
}
}
/*Description*/
.whiteText p {
    color: #ffffff;
}
.text-Low-Descr {
    margin-top: 280px;
}
/*Highlight content > Grid*/
.grid {
    margin-top: 70px;
}
.txt-grid-grp {
    height: 150px;
}
.large-box {
    width: 450px;
}
.pink, .violet, .green, .small-Img, .large-Img {
    height: 278px;
    padding: 50px 35px 50px 35px;
}
.pink {
    background-color: #f5989d;
    margin: 0;
    position: relative;
    float: left;
}
.pink p, .violet p, .green p, .small-Img p, .large-Img p {
    margin: 24px 0 38px 0;
    color: #ffffff;
}
.violet {
    background-color: #615f7d;
    margin: 0;
    display: inline-block;
    position: relative;
}
.green {
    background-color: #82ca9c;
    margin: 0;
    position: relative;
    float: right;
}
.small-Img {
    background: url(imgs/img_SmallRect1.png) no-repeat;
    margin: 0;
    position: relative;
    float: right;
}
.large-Img {
    background: url(imgs/img_LargeRect1.png) no-repeat;
    margin: 0;
    display: inline-block;
    position: relative;
}
.icon {
    position: relative;
    float: right;
}
/*Section 4 Details*/
.details, .price {
    padding: 97px 0 150px 0;
}
.details h3 {
    color: #222626;
    font-size: 35px;
}
.details p {
    font-size: 14px;
}
.details h4 {
    color: #67676d;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}

.titleDetails {
    display: inline-block;
    position: relative;
    margin-bottom: 60px;
}
.elementsDetails {
    float: left;
    position: relative;
    display: flex;
}
.content-details-p {
    display: inline-block;
    position: relative;
}

.content-details-p-end {
    position: relative;
    float: right;
}
/*Section 5 Big picture */
.bigImg {
    background: url(imgs/Img_master2.png) no-repeat;
    background-size: cover;
    background-attachment: fixed; /*parallax fx */
    height: 951px;
}
.bigImg p {
    width: 400px;
    color: #ffffff;
}
/*Section 6 A propos */
.details-color-bg {
    background-color: #82ca9c;
}
.details-color-bg .color-police h3, .details-color-bg .color-police h4, .details-color-bg .color-police p{
    color: #ffffff;
}
/*Section 7 Gammes de prix*/
.price-bloc {
    padding: 46px 54px 46px 54px;  
}
.price-bloc:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 24px 5px rgba(119, 119, 119, 0.4);
    -moz-box-shadow: 0px 0px 24px 5px rgba(119, 119, 119, 0.4);
    -webkit-box-shadow: 0px 0px 24px 5px rgba(119, 119, 119, 0.4);
}
/*-----------------------------------------Animation Bloc*/
.bloc:hover {
    transform: translateY(0px);
}
.bloc::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.bloc-white::after {
    background-color: #fff;
}

.bloc:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.bloc-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*-----------------------------------------Animation Bloc END*/
.price-bloc-1 {
    padding: 46px 54px 46px 54px;
}
.price-color-h3 {
    margin-top: 24px;
}
.price-color-h3 h3 {
    color: #222626;
}
.price-color-bg {
    background-color: #f6f7fa;
}
a .btn-inactive {
    background-color: #e1e1e1;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a .btn-active {
    color: #fff;
    background-color: #bd8cbf;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a .btn-secondary {
    color: #fff;
    background-color: #82ca9c;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a:hover .btn-secondary {
    background-color: #3a965b;
}
.btn-2 {
    padding: 18px 26px 18px 26px;
    border: none;
}
.btn-1 {
    padding: 6px 13px 6px 13px;
    border: none;
}
.icons {
    position: relative;
    width: 60px;
    height: 45px;
    padding-top: 19px;
}
.icon-wind {
    position: relative;
    float: right;
}
.icon-apple {
    position: relative;
    float: left;
}
/*Footer*/
.col-footer {
    padding: 130px 0 155px 0;;
    position: relative;
}
.footer-color-bg {
    background-color: #192431;
}
footer p, footer li, footer h4 {
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
}
.footer-list ul {
    padding: 0;
    list-style: none;
}
.footer-list .col-md-3 {
    padding-left: 0px;
}
.footer-list h4, .get-touch-txt h4 {
    margin-bottom: 30px;
}
.get-touch-txt {
    margin-bottom: 75px;
    padding-right: 65px;
}
.erratum {
    margin-top: 15px;
}
.erratum p {
    font-size: 12px;
    color: #57697f;
    line-height: 15px;
}
form {
    width: 387px;
    position: relative;
}
.form-control {
    border-radius: 4px 0 0 4px;
    margin: 0px;
    height: 58px;
}
.btn-form {
    border-radius: 0 4px 4px 0;
    padding: 17px;
    background-color: #82ca9c;
    position: relative;
    float: right;
    cursor: pointer;
}
input {
    margin: 0px;
}